<!--
<nav>
    {% for item in site.data.navigation %}
        <a href = " {{ item.link }} " {% if page.url == item.link %} class = "current" {% endif %}>
            {{ item.name }}
        </a>
    {% endfor %}
</nav>
-->
<nav>
    <ul class = "nav__links">
        <li> <a href = "#"><button>Home</button></a> </li>
        <li> <a href = "#"><button>Devlog</button></a> </li>
        <li> <a href = "#"><button>Projects</button></a> </li>
        <li> <a href = "#"><button>Volunteering Experience</button></a> </li>
    </ul>
</nav>