main#projects-page{justify-content:center;align-items:center;width:100%;min-height:100vh;display:flex}main#projects-page .content{text-align:center;width:50%}main#projects-page a{color:var(--cenote)}
