main#experiences-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main#experiences-page .content {
  width: 50%;
  text-align: center;
}

main#experiences-page a {
  color: var(--cenote);
}
