main {
  width: 100%;
  height: 100vh;
  display:grid;
  grid-template-columns: 1fr;
  background-color: var(--barragan-magenta);
}

main .canvas-background {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

main .screen-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.center-body {
  background-color: #fff;
  width: 50%;
  height: 100%;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); position: absolute;
}

.center-body header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 25%;
  background-color: #fff;
}

.center-body nav.links {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  text-align: center;
}


.links a {
  color: #000;
  opacity: 0;
  animation: fade-in ease forwards;
}

.links > div:nth-child(6n+1) a { animation-duration: 1s; }
.links > div:nth-child(6n+2) a { animation-duration: 1.8s; }
.links > div:nth-child(6n+3) a { animation-duration: 2.3s; }
.links > div:nth-child(6n+4) a { animation-duration: 4.7s; }
.links > div:nth-child(6n+5) a { animation-duration: 7.1s; }
.links > div:nth-child(6n+6) a { animation-duration: 8.45s; }

.name-and-contact {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
  opacity: 0;
  animation: fade-in ease 2s forwards;
}

.name-and-contact .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-and-contact .name h1 {
  color: #000;
  font-size: 30px;
  margin: 0px 0;
}

.name-and-contact .contact p {
  margin: 0 0 0 0;
  align-self: center;
}

.name-and-contact .contact .social-media {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}