main {
  width: 100%;
  height: 100vh;
  display:grid;
  grid-template-columns: 1fr;
  background-color: var(--barragan-magenta);
}

main .canvas-background {
  width: 100%;
  height: 100%;
}

main .screen-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.center-body {
  background-color: #fff;
  width: 50%;
  height: 100%;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); position: absolute;
}

.center-body header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 25%;
}

.center-body nav.links {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  text-align: center;
}

.links a {
  color: #000;
}

.name-and-contact {
  width: 100%;
  height: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.name-and-contact .contact {
  gap: 5px;
}

.name-and-contact .name h1 {
  color: #000;
  font-size: 30px;
  margin: 0px 0;
}

.name-and-contact .contact .social-media {
  display: flex;
  justify-content: center;
  flex-direction: row;
}